*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: "Young Serif", serif;
}
.container{
    padding: 50px;
    padding-top: 0%;
}
.section-one{
    background-color: black;
    padding: 20px;
    color: white ;
    background-image:url(http://hdqwalls.com/wallpapers/sunset-beach-cp.jpg);

}
.section-one__contact{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    display: inline-block;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 5px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
    display: block;
    background-image:url(http://hdqwalls.com/wallpapers/sunset-beach-cp.jpg);


}
.section-three li,.section-four li{
  list-style: none;
}
.section-three{
    background-color: #6462fd;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.section-four{
    background-color: #fe7514;
    color: black;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 10px;
    vertical-align: top;
}
.contact-form {
    margin-top: 20px;
    padding: 20px;
}
.contact-form__input{
    
    margin-top: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__text{
    
    margin-top: 10px;
    border: none;
    border: solid black 1px;
}
.contact-form__submit{
    
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: orangered;
    color: black;
    border-radius: 10px;
}
.form{
    padding: 50px;
    padding-top: 0%;
}
a{
    color: skyblue;
    text-decoration: none;
    border-radius: 10px;
}



